
body {
  background-image: url("../images/Fon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#blue_bird {
  width: 12vw;
  height: 12vw;
  position: relative;
  top: 2vw; 
  left: 84vw; 
}
#Blue2 {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -6vw; 
  left: 84vw; 
}

#Bull_yellow {
  width: 20vw;
  height: 20vw;
  position: relative;
  top: 10vw;
  left: 55vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Yellow {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -8vw; 
  left: 75vw; 
}

#Deer {
  position: relative;
  top: -8vw;
  left: -5vw;
  width: 14vw;
  height: 14vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Pink {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -23vw; 
  left: 6vw; 
}

#Rabbit2 {
  position: relative;
  top: -35vw;
  left: 40vw;
  width: 25vw;
  height: 25vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Brown {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -60vw; 
  left: 53vw; 
}

#frog {
  position: relative;
  top: -34vw;
  left: 75vw;
  width: 12vw;
  height: 12vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Green {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -43vw; 
  left: 83vw; 
}

#fish {
  position: relative;
  top: -45vw;
  left: 37vw;
  width: 10vw;
  height: 10vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Orange {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -50vw; 
  left: 36vw; 
}

#Rabbit1 {
  position: relative;
  top: -58vw;
  left: 8vw;
  width: 10vw;
  height: 10vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Blue {
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -68vw; 
  left: 10vw; 
}

#mouse{
  position: relative;
  top: -80vw;
  left: 20vw;
  width: 17vw;
  height: 17vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */ 
}
#Purple{
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -90vw; 
  left: 36vw; 
}

#fish2{
  position: relative;
  top: -125vw;
  left: 8vw;
  width: 13vw;
  height: 13vw;
  cursor: pointer; /* чтобы указать, что элемент кликабельный */
}
#Orange2{
  width: 1vw;
  height: 1vw;
  position: relative;
  top: -135vw; 
  left: 11vw; 
}

/* модальное окошко */
.first_modal, .second_modal, .third_modal, .fourth_modal, .fifth_modal, .sixth_modal, .seventh_modal, .eight_modal, .night_modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
/* модальное окно для птицы */
.first_modal_content{
  background-image: url("../images/info6.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 45vw;
  height: 23vw;
  text-align: center;
}
/* модальное окно для бычка */
 .second_modal_content{
  background-image: url("../images/info1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 43vw;
  height: 26vw;
  text-align: center;
}
/* модальное окно для оленя */
.third_modal_content{
  background-image: url("../images/info3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8vw auto;
  padding: 2vw;
  width: 37vw;
  height: 30vw;
  text-align: center;
}
/* модальное окно для коричневого зайца */
.fourth_modal_content{
  background-image: url("../images/info5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 9vw auto;
  padding: 2vw;
  width: 38vw;
  height: 31vw;
  text-align: center;
}
/* модальное окно для лягушки */
.fifth_modal_content{
  background-image: url("../images/info7.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 43vw;
  height: 23vw;
  text-align: center;
}
/* модальное окно для оранжевой рыбы */
.sixth_modal_content {
  background-image: url("../images/info8.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 41vw; 
  height: 21vw; 
  text-align: center;
}
/* модальное окно для кролика русалки */
.seventh_modal_content {
  background-image: url("../images/info2.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8vw auto;
  padding: 2vw;
  width: 43vw; 
  height: 33vw; 
  text-align: center;
}
/* модальное окно для мышки */
.eight_modal_content{
  background-image: url("../images/info4.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 41vw; 
  height: 21vw; 
  text-align: center; 
}
/* модальное окно для рыбы второй */
.night_modal_content{
  background-image: url("../images/info9.svg"); 
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10vw auto;
  padding: 2vw;
  width: 31.5vw; 
  height: 24.5vw; 
  text-align: center; 
}
/* экран для мобьных устройств */
.adaptive {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  display: none;
}
.rect {
  width: 38vw;
  height: 5.4vw;
  border: 2px solid black;
  background-color: white;
}
.rect p {
  margin-top: 1vw;
  text-align: center;
}

/* По умолчанию скрываем секцию с животными на мобильных устройствах */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .animal {
      display: none;
  }
  .adaptive {
      display: block;
  }
}

/* При горизонтальной ориентации показываем секцию с животными */
@media screen and (orientation: landscape) {
  .animal {
      display: block;
  }
  .adaptive {
      display: none;
  }
}
